/*
        ████████╗███╗   ██╗     ██████╗███████╗███████╗
        ╚══██╔══╝████╗  ██║    ██╔════╝██╔════╝██╔════╝
           ██║   ██╔██╗ ██║    ██║     ███████╗███████╗
           ██║   ██║╚██╗██║    ██║     ╚════██║╚════██║
           ██║   ██║ ╚████║    ╚██████╗███████║███████║
           ╚═╝   ╚═╝  ╚═══╝     ╚═════╝╚══════╝╚══════╝
*/
body {
    background: #004f67;
    font-family: Consolas, serif;
}

p {
    margin: 0;
    color: #fff;
    line-height: 30px;
    text-align: center;
    font-size: 18px;
}

.lose-en {
    font-size: 14px;
}

.lose-main {
    background: url("/static/images/lose-bg.png") 0 0 no-repeat;
    background-size: 100%;
    /*min-height: 540px;*/
}
@media screen and (max-width: 600px) {
    .lose-box {
        width: 90%;
        height: 450px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        /*margin: -225px 0 0 -220px;*/
        background-image: url("/static/images/pic1.png");
        background-size: contain;
        background-repeat: no-repeat;
        /*background-size: 100%;*/
    }
}
@media only screen and (min-width: 600px) {
    .lose-box {
        width: 450px;
        height: 450px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        /*margin: -225px 0 0 -220px;*/
        background-image: url("/static/images/pic1.png");
        background-size: contain;
        background-repeat: no-repeat;
        /*background-size: 100%;*/
    }
}

.lose-box div {
    width: 100%;
    height: 200px;
    margin-bottom: 50px;
}

.lose-box a {
    width: 218px;
    height: 50px;
    display: block;
    margin: 50px auto 0 auto;
    border: solid 1px #fff;
    border-radius: 3px;
    text-align: center;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
    transition: all ease-out .4s;
}

.lose-box a:hover {
    background: #fff;
    color: #004f67;
    border-color: transparent;
}