<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>404</title>
    <link rel="stylesheet" type="text/css" href="/static/css/dhaka.css"/>
</head>
<!--
 ___   ___  ________  ___   ___          ________  ________  ________  _______
|\  \ |\  \|\   __  \|\  \ |\  \        |\   __  \|\   __  \|\   ____\|\  ___ \
\ \  \\_\  \ \  \|\  \ \  \\_\  \       \ \  \|\  \ \  \|\  \ \  \___|\ \   __/|
 \ \______  \ \  \\\  \ \______  \       \ \   ____\ \   __  \ \  \  __\ \  \_|/__
  \|_____|\  \ \  \\\  \|_____|\  \       \ \  \___|\ \  \ \  \ \  \|\  \ \  \_|\ \
         \ \__\ \_______\     \ \__\       \ \__\    \ \__\ \__\ \_______\ \_______\
          \|__|\|_______|      \|__|        \|__|     \|__|\|__|\|_______|\|_______|
-->
<body>
<div class="lose-main">
    <div class="lose-box">
        <div></div>
        <p>抱歉，没有找到您请求的页面</p>
        <p class="lose-en">Sorry, didn't find the page you requet.</p>
    </div>
</div>

</body>
<script>
    console.info("\n" +
        " ___   ___  ________  ___   ___          ________  ________  ________  _______      \n" +
        "|\\  \\ |\\  \\|\\   __  \\|\\  \\ |\\  \\        |\\   __  \\|\\   __  \\|\\   ____\\|\\  ___ \\     \n" +
        "\\ \\  \\\\_\\  \\ \\  \\|\\  \\ \\  \\\\_\\  \\       \\ \\  \\|\\  \\ \\  \\|\\  \\ \\  \\___|\\ \\   __/|    \n" +
        " \\ \\______  \\ \\  \\\\\\  \\ \\______  \\       \\ \\   ____\\ \\   __  \\ \\  \\  __\\ \\  \\_|/__  \n" +
        "  \\|_____|\\  \\ \\  \\\\\\  \\|_____|\\  \\       \\ \\  \\___|\\ \\  \\ \\  \\ \\  \\|\\  \\ \\  \\_|\\ \\ \n" +
        "         \\ \\__\\ \\_______\\     \\ \\__\\       \\ \\__\\    \\ \\__\\ \\__\\ \\_______\\ \\_______\\\n" +
        "          \\|__|\\|_______|      \\|__|        \\|__|     \\|__|\\|__|\\|_______|\\|_______|\n" +
        "                                                                                    \n" +
        "                                                                                    \n" +
        "                                                                                    \n")

</script>